.input {
  border: 2px solid var(--gray-5);
  text-align: center;
  padding: 12px 20px;
  font-size: 1.5em;
  border-bottom: 5px solid var(--gray-5);
  border-radius: 4px 0px 0px 4px;
  background: var(--gray-6);
  color: var(--gray-1);
  text-transform: inherit;
  letter-spacing: inherit;
  transition: all 0.25s;
}

.input:focus {
  background: var(--white);
  transition: all 0.25s;
}