* {
  --main-text: #272727;
  --secondary-text: #9e3f3f;
  --dark-green: #1E6043;
  --light-green: #40C88C;
  --light-green-2: rgb(57, 189, 131);
  --gray-0: #1f1f1f;
  --gray-1: #2B2B2B;
  --gray-2: #444444;
  --gray-3: #636363;
  --gray-4: #808080;
  --gray-5: #a0a0a0;
  --gray-6: #DFDFDF;
  --white: #f1f1f1;
  --whiter: #ffffff;
  --headerfont: 'Yanone Kaffeesatz', sans-serif;
  --subfont: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray-6);
}

.page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#bg {
  clip-path: polygon(100% 0, 100% 24%, 75% 100%, 0% 100%);
  height: 100vh;
  width: 100%;
  background: var(--light-green);
  opacity: 0.25;
  position: fixed;
}

@keyframes in {
  0% { opacity: 0; transform: translateX(-50px) }
  100% { opacity: 1; transform: translateX(0px) }
}

@keyframes out {
  0% { opacity: 1; transform: translateX(0px) }
  100% { opacity: 0; transform: translateX(50px) }
}

.in {
  animation-name: in;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.out {
  animation-name: out;
  animation-duration: 1s;
  animation-iteration-count: 1;
}