@import '../../index.css';

.card {
  max-width: 200px;
  cursor: pointer; 
  background: var(--gray-3);
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0px 8px;
  transition: transform 300ms ease 100ms;
  color: var(--white);
}

.container:hover .item {
  transform: translateX(-25%);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.25s;
  transform-origin: center;
}

.card-title {
  max-width: 200px;
  font-weight: bolder;
  padding: 4px 6px;
}