@import '../../index.css';

.content-card {
  max-width: 200px;
  cursor: pointer; 
  background: var(--gray-3);
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0px 8px;
  transition: transform 300ms ease 100ms;
  color: var(--white);
  box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
}

.content-card:hover {
  transform: scale(1.05) !important;
  transition: all 0.25s;
  transform-origin: center;
}

.card-title {
  max-width: 200px;
  font-weight: bolder;
  padding: 4px 6px;
}