.button {
  border: none;
  background: var(--gray-5);
  padding: 8px 32px;
  font-size: 1em;
  border-radius: 2px;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: all 0.25s;
}

/* .button:hover {
  transition: all 0.25s;
  font-size: 1.25em;
  cursor: pointer;
  width: auto;
} */