.button {
  border: none;
  background: var(--gray-5);
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 120px;
  letter-spacing: inherit;
  text-transform: inherit;
  transition: all 0.25s;
  margin: 10px 20px;
}

.button:hover {
  transition: all 0.25s;
  cursor: pointer;
  background: var(--white);
}