.standard {
  font-family: var(--headerfont);
  color: var(--gray-0);
  letter-spacing: 0px;
  margin: 10px 0px;
}

.h1 {
  @extend .standard;
  font-size: 62px;
}

.h2 {
  @extend .standard;
  font-size: 32px;
}

.h3 {
  @extend .standard;
  font-size: 26px;
}

.h4 {
  @extend .standard;
  font-size: 20px;
}

.h5 {
  @extend .standard;
  font-size: 20px;
}

.h6 {
  @extend .standard;
  font-size: 20px;
}